
        .contenedorMasa{
            position: absolute;
            left: 30px;
            top: 100px;
            height: 200px;
            width: 700px;
        }
        .contenedorIngred{
            position: absolute;
            top: 250px;
            left: 300px;
            height: 2000px;
            width: 700px;
        }
        .contenedorDescrip{
            position: absolute;
            top: 272px;
            left: 1013px;
            height: 600px;
            width: 310px;
        }

        .masasInicio{
           

        }
    