/* PARTE BASE.HTML */
/* PARTE HOME.HTML */

.card-body{
    background-color: #ff9022a2;
    border-style: ridge;
}
.contenedorMasa{
    position: absolute;
    height: 1800px;
    width: 1000px;
    left: 30px;
    top: 90px;
}
.contenedorIngred{
    position: absolute;
    height: 1800px;
    width: 1000px;
    top: 400px;
    left: 20px;
}
.contenedorDescrip{
    position: absolute;
    height: 700px;
    width: 330px;
    top: 70px;
    left: 1100px;
}

.facebook{
    position: absolute;
    top: 730px;
    left: 1100px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  .descs{
      
    position: absolute;
    left: 1070px;
    top: 900px;
    width: 40%;
  }
  
  .accordion:after {
    content: '\02795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; 
    }
    
.active, .accordion:hover {
    background-color: #ccc;
  }
  .panel { 
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

/* PARTE MASAPAGE.HTML */
.pizzasPorMasa{
    position: absolute;
    height: 980px;
    width: 500px;
    top: 90px;
    left: 30px;
}
.list-group{
    position: absolute;
    height: 300px;
    width: 300px;
}

.card-title{
    margin-left: 15px;
}
.imgg{
    margin-bottom: 10px;
}
/* PARTE CREARPIZZA.HTML*/
.contenedor{
  width:800px;
  margin: 0 auto;
  position:relative;
}
#mapa{
  position:relative;
  text-align: center;
  width: 400px;
  height: 300px;
  margin:0 auto;
  margin-top:20px;
  padding: 5px;
  border: 1px solid black;
  background: #CCC;
}
#mapa .mensaje{
  display: block;
  font-weight: bold;
  font-size: 12px;
  color: rgb(54, 54, 54);
  width: 180px;
  line-height: 135%;
  margin: 0 auto;
  margin-top: 120px;
}
#mapa iframe{
  border:1px solid black;
}
.ubicar {
  display: block;
  text-align: center;
}
.contenedorGeo{
  position: absolute;
  top: 100px;
  left: 300px;
}
.form-check{
    position: absolute;
    left: 20px;
}

.form-group{
    position: absolute;
    left: 10px;
    height: 100px;
    width: 150px;
}

.boton{
    position: absolute;
    left: 20px;
    top: 460px;
}

.formularioCrear{
    position: absolute;
    left: 20px;
    width: 400px;
}

.gifs{
    position: absolute;
    top: 200px;
    left: 800px;
}

/*PARTE INGREDPAGE.HTML*/

.pizzasPorIngred{
    position: absolute;
    left: 25%;
    width: 800px;
}

.listaIngredientes{
    padding-right: 15px;
    padding-left: 15px;
}

.card.text-center{
    border-color: #332d28e8;
    border-style: outset;
}

.comentarios{
    position: absolute;
    top: 1200px;
    width: 100%;
}

/* PARTE PIZZAS.HTML */
.pizzasDatos{
    position: absolute;
    left: 40px;
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .container {
    position: absolute;
    top: 15%;
    left: 10%;
    display: none;
  }

  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: black;
    font-size: 20px;
  }
  
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: black;
    font-size: 35px;
    cursor: pointer;
  }
  /*WHO.HTML*/
  .contenedorGeo{
    position: absolute;
    top: 3600px;
    left: 60px;
  }