.contenedorMasa{
    position: absolute;
    height: 2500px;
    width: 1000px;
    left: 30px;
    top: 90px;
}
.contenedorIngred{
    position: absolute;
    height: 2000px;
    width: 350px;
    top: 600px;
    left: 30px;
}
.contenedorDescrip{
    position: absolute;
    height: 600px;
    width: 330px;
    top: 90px;
    left: 1100px;
}
       
        