/* PARTE HOME.HTML */
.contenedorMasa{
    position: absolute;
    height: 2500px;
    width: 1000px;
    left: 30px;
    top: 90px;
}
.contenedorIngred{
    position: absolute;
    height: 2000px;
    width: 350px;
    top: 600px;
    left: 30px;
}
.contenedorDescrip{
    position: absolute;
    height: 600px;
    width: 330px;
    top: 70px;
    left: 1100px;
}

/* PARTE MASAPAGE.HTML */
.pizzasPorMasa{
    position: absolute;
    height: 980px;
    width: 500px;
    top: 90px;
    left: 30px;
}

.list-group{
    position: absolute;
    height: 300px;
    width: 300px;
}