.contenedorMasa{
    position: absolute;
    height: 2500px;
    width: 1650px;
    left: 30px;
    top: 120px;
}
.contenedorIngred{
    position: absolute;
    height: 2000px;
    width: 350px;
    top: 600px;
    left: 30px;
}
.contenedorDescrip{
    position: absolute;
    height: 600px;
    width: 400px;
    top: 200px;
    left: 1770px;
}


       
        