/* PARTE BASE.HTML */
/* PARTE HOME.HTML */
.card-body{
    background-color: #ff7b0085;
    border-style: ridge;
}
.contenedorMasa{
    position: absolute;
    height: 1800px;
    width: 1000px;
    left: 30px;
    top: 90px;
}
.contenedorIngred{
    position: absolute;
    height: 1800px;
    width: 1000px;
    top: 400px;
    left: 20px;
}
.contenedorDescrip{
    position: absolute;
    height: 700px;
    width: 330px;
    top: 70px;
    left: 1100px;
}

.facebook{
    position: absolute;
    top: 800px;
    left: 1100px;
}

/* PARTE MASAPAGE.HTML */
.pizzasPorMasa{
    position: absolute;
    height: 980px;
    width: 500px;
    top: 90px;
    left: 30px;
}
.list-group{
    position: absolute;
    height: 300px;
    width: 300px;
}

.card-title{
    margin-left: 15px;
}
.imgg{
    margin-bottom: 10px;
}
/* PARTE CREARPIZZA.HTML*/
.explicacion{
    position: absolute;
    left: 350px;
    top: 350px;
    width: 300px;
    height: 50px;
    background-color: rgb(255, 81, 0);
    border-style: outset;
    padding: 5px;
}

.form-check{
    position: absolute;
    left: 20px;
}

.form-group{
    position: absolute;
    left: 10px;
    height: 100px;
    width: 150px;
}

.boton{
    position: absolute;
    left: 20px;
    top: 460px;
}

.formularioCrear{
    position: absolute;
    left: 20px;
    width: 400px;
}

.gifs{
    position: absolute;
    top: 200px;
    left: 800px;
}

/*PARTE INGREDPAGE.HTML*/

.pizzasPorIngred{
    position: absolute;
    left: 25%;
    width: 800px;
}

.listaIngredientes{
    padding-right: 15px;
    padding-left: 15px;
}

.card.text-center{
    border-color:  #ffb36cf3;
    border-style: outset;
}

.comentarios{
    position: absolute;
    top: 1200px;
    width: 100%;
}

/* PARTE PIZZAS.HTML */

.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }