{% extends 'base.html' %}    
{% load crispy_forms_tags %}

{% block title %} Crear pizza {% endblock %}

{% block content %}
<div class="formularioCrear" id="formularioCrear">
  <form method="POST">
    <br>
    <h2 style="font-style: italic; color: slategray;"> Crea tu propia pizza</h2>
    <br>
    {% csrf_token %}
        <div id="formNombre" class="form-group col-md-8 mb-0">
          {{ form.namePi|as_crispy_field }}
        </div>
        <div class="form-group col-md-8 mb-0">
          {{ form.masa|as_crispy_field }}
        </div>
        <div class="form-group">
          {{ form.ingredientes|as_crispy_field }}
        </div>
          <input type="submit" value="Crear pizza" class="boton" onclick="imprimirPizza(form)"/>
  </form>
</div>
<div class="gifs">
  <img src="/media/image/lovepizza.gif" id= "draggable" width="600" height="330" alt="lovepizza gif">
</div>

{% endblock %}