{% extends 'base.html' %}

    {% block title %} {{masa.nameMa}} {% endblock %}

{% block content %}
    <h2></h2>
    <p> Esta masa tiene las siguientes pizzas:</p>

    {% for pizza in pizzas%}
        <div>
         <p> {{pizza.namePi}} </p>
         <img src="/MammaMia/media/{{masa.image}}}"/>
            {% for ingrediente in ingredientes %}
               <p> {{ingrediente.nameIn}}</p>
            {% endfor %}
        </div>

        <div>
        </div>
    {% endfor %}
{% endblock %}



