{% extends 'base.html' %}

{% block title %} Pizzas {% endblock %}

{% block content %}
    <div class="pizzasDatos"> 
        
        <h2> ¡Pincha encima de las pizzas para verlas mejor!</h2>
        <div class="row">
        {% for pizzas in pizza %}
        <div class="column">
            {% if pizzas.image %}
              <img src="{{pizzas.image.url}}"  width="200px" height="150px" alt="imagen pizza" onclick="myFunction(this);">
            {% else %}
            <img src="/media/image/pizzaDefault.png" width="200px" height="150px" alt="pizza por defecto">
            {% endif %} 
            <div class="card text-center">
                <h5> Masa de la pizza:</h5>
                <a href="{{pizzas.masa.getMasa}}"><p class="card-text">{{pizzas.masa}}</p></a>
                <h5> Ingredientes de la pizza:</h5>
                    <ul class="listaIngredientes">
                        {% for ingredientes in pizzas.ingredientes.all %}
                            <li class="list-group-item">
                                <a href="{{ingredientes.getIngrediente}}">  {{ingredientes.nameIn}}</a>
                            </li>
                        {% endfor %}
                    </ul> 
            </div>
           
        </div>
        {% endfor %}  
        </div>
        <div class="container">
            <span class="closebtn" id="botonPizza">&times;</span>
            <img id="expandedImg" style="width:100%" alt="imagen expandida">
            <div id="imgtext">
                <!--texto -->
            </div>
        </div><script>
            
        $("#botonPizza").click(function(){
            $("#expandedImg").hide(1500);
            $("#imgtext").hide(1500);
            $("#botonPizza").hide(1500);
        });
        </script> 
          
    </div>
{% endblock %}

